.listAddBoxWrap {
  margin-bottom: 50px;
}
.listAddBoxTitle {
  color: rgb(86, 48, 121);
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
}
.listAddBoxTitle span {
  color: rgb(246, 238, 227);
}
.listAddBox {
  width: 100%;
  height: 100px;
  margin-top: -3px;
  background-color: rgb(246, 238, 227);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.listAddBoxInput {
  display: flex;
}
.titleBox {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.listAddBox label {
  font-size: 17px;
  font-weight: bold;
  color: rgb(86, 48, 121);
  margin-right: 10px;
}
.listAddBox input {
  border: none;
  border-bottom: 1px solid rgb(86, 48, 121);
  outline: none;
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  width: 200px;
}
.listAddBox textarea {
  resize: none;
  width: 400px;
  font-size: 15px;
  outline: none;
  border: 1px dashed rgb(86, 48, 121);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.649);
}
.listAddBox input.formBtn {
  margin-right: 40px;
  width: 90px;
  color: white;
  background-color: rgb(74, 87, 146);
  font-size: 15px;
  border-radius: 10px;
  padding: 13px;
  cursor: pointer;
  border: none;
}
