* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(86, 48, 121);
  border-radius: 10px;
}
